body {
  text-align: center;
  margin-top: 48px;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  background: linear-gradient(#f3c3fa,#102832);
  background-attachment: fixed;
}

h1, p {
  color: #ffffff;
}

p {
  font-size: 22px;
}

.profile-photo {
  width: 120px;
  transition: all 0.3s ease;
  border-radius: 100%;
}

.profile-photo:hover {
  filter: drop-shadow(0 0 0.75rem #ffffff);
  cursor: pointer;
}

.link-tree {
  padding: 0;
  font-size: 20px;
}

.link-tree > li {
  margin: 12px 0;
}

.link-tree >li a {
  color: #ffffffde;
  border-radius: 6px;
  padding: 12px;
  text-decoration: none;
  max-width: 360px;
  width: 90%;
  display: block;
  margin: 0 auto;
} 

.link-tree > li a {
  background: #ffffff30;
  transition: all 0.2s ease;
}

.link-tree > li a:hover,
.link-tree > li a:focus {
  color: white;
  background: #ffffff70;
  transition: all 0.2s ease;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.social__icon--link:hover {
  filter: drop-shadow(0 0 0.75rem #ffffff);
  transition: all 0.3s ease;
}