* {
  outline: none !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 350px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#0e102e, #615c7e);
}

h1,
h2 {
    font-family: "Open Sans", sans-serif;
}

/* -- DESKTOP SECTION -- */
/* -- HEADER (DESKTOP) -- */
.user_heading {
  text-align: center;
  color: #ffffff;
  padding: 12px;
  margin: 15px;
}

/* -- PROFILE INFO (DESKTOP) -- */
.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.profile_info img {
  width: 120px;
  border-radius: 100%;
  border: 1.5px solid #ffffff;
}

.profile_info h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0;
}

.profile_info p {
  font-size: 16px;
}

/* -- SOCIAL MEDIA LINKS (DESKTOP) -- */
.social_media_links {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.social_media_links > li {
  margin: 9px 0;
  font-size: 16px;
  list-style-type: none;
}

.social_media_links > li a {
  color: #0e102ede;
  padding: 13px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  border: 1px solid #ffffff30;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 8px 8px #ffffff7d;
  transition: all 0.2s ease;
  justify-content: center;
  position: relative;
}

.social_media_links > li a i {
  font-size: 1.2em; 
  position: absolute;
  left: 1em;
  padding-right: 10px;
}

.social_media_links > li a:hover,
.social_media_links > li a:focus {
  border: 1px solid #6262627d;
  box-shadow: 8px 8px #6262627d;
  transition: all 0.2s ease;
}

/* -- SOCIAL MEDIA ICONS (DESKTOP) -- */
.social_media_icons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social_media_icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 8px;
  text-decoration: none;
}

.social_icon_link:hover {
  color: #cccccc;
}

/* -- FOOTER (DESKTOP) -- */
.website_rights {
  color: #ffffff;
  font-size: 14px;
  padding: 15px;
}

/* -- TABLET SECTION -- */
@media screen and (max-width: 800px) {
  /* -- PROFILE INFO (TABLET) -- */
  .profile_info {
    padding: 6px;
  }

  .profile_info img {
    width: 115px;
  }

  .profile_info h1 {
    font-size: 23px;
    margin: 13px 0;
  }

  .profile_info p {
    font-size: 14px;
  }

  /* -- SOCIAL MEDIA LINKS (TABLET) -- */
  .social_media_links {
    padding: 6px;
  }

  .social_media_links > li {
    font-size: 14px;
  }

  .social_media_links > li a i {
    font-size: 1.1em; 
    left: 0.8em;
    padding-right: 8px;
  }

  /* -- SOCIAL MEDIA ICONS (TABLET) -- */
  .social_media_icons {
    padding: 8px;
  }

  .social_media_icons a {
    font-size: 22px;
    margin: 6px;
  }

  /* -- FOOTER (TABLET) -- */
  .website_rights {
    font-size: 12px;
    padding: 13px;
  }
}

/* -- MOBILE SECTION -- */
@media screen and (max-width: 390px) {
  /* -- PROFILE INFO (TABLET) -- */
  .profile_info img {
    width: 105px;
  }

  .profile_info h1 {
    font-size: 21px;
    margin: 11px 0;
  }

  .profile_info p {
    font-size: 12px;
  }

  /* -- SOCIAL MEDIA LINKS (TABLET) -- */
  .social_media_links {
    padding: 4px;
  }

  .social_media_links > li {
    font-size: 12px;
  }

  .social_media_links > li a i {
    font-size: 1rem; 
    left: 0.6em;
    padding-right: 6px;
  }

  /* -- SOCIAL MEDIA ICONS (TABLET) -- */
  .social_media_icons a {
    font-size: 20px;
    margin: 5px;
  }

  /* -- FOOTER (TABLET) -- */
  .website_rights {
    font-size: 11px;
    padding: 11px;
  }
}